body {
  margin: 0px;
  padding: 0px;
}

#container {
  grid-template-columns: repeat(15, 1fr);
  font-family: 'Alta', sans-serif;
}

@font-face {
    font-family: Alta;
    src: url("Alta_Typeface/Alta_regular.otf") format("opentype");
}

#nav {
  display: grid;
  grid-column: 1/16;
  font-size: 1.25vw;
  top: 0;
  width: 100%;
  position: sticky;
  background-color: rgba(255, 255, 255, 0.8);
  z-index: 1;
  font-family: 'Alta', sans-serif;
  background-color: black;
}

#nav a {
  text-decoration: none;
  color: #fff;
}

#nav a:hover {
  text-decoration: underline;
}

.navsection1 {
  display: grid;
  grid-column: 2/4;
}

.navsection2 {
  display: grid;
  grid-column: 5/7;
}

.navsection3 {
  display: grid;
  grid-column: 8/10;
}

.navsection4 {
  display: grid;
  grid-column: 11/13;
}

#part1 {
  display: grid;
  grid-column: 6/13;
  text-align: center;
  padding: 80px
  line-height: 3vw;
  width: 100%;
}

#video {
 width: 100%;
}

#part1 h2 {
  color: white;
  background-color: black;
  padding: 20px;
}

#heading1 h1 {
  font-size: 5vw;
  font-family: 'Alta', sans-serif;
  text-align: center;
}

#heading1 {
  background-color: black;
}

#part2b {
font-family: 'Alta',sans-serif;
text-align: center;
padding-right: 50px;
display: flex;
justify-content: center;
}

#part2 h2 {
  font-size: 2.5vw;
}

#part2b h4 {
  padding: 50px;
  line-height: 3.5vw;
  font-size: 1.8vw;
  font-family: 'Abel', sans-serif;
}

#part2b img {
  padding-top: 80px;
}

#part2 {
  font-family: 'Alta',sans-serif;
  text-align: center;
  font-size: 1.25vw;
  padding: 50px;
}

#part3 {
  text-align: center;
  padding: 50px;
  background-color: black;
}

#part3 h2 {
  font-size: 2.5vw;
  color: white;
}

#part3 img {
  padding: 30px;
}

#part4 {
  text-align: center;
  padding: 50px;
  background-color: black;
}

#part4 h2 {
    font-size: 2.5vw;
    color: white;
}

#part4 h4 {
  color: white;
  font-family: 'Abel', sans-serif;
  font-size: 1.5vw;
}

#part5 {
  text-align: center;
  padding: 50px;
}

#part5 img {
  padding: 20px;
}

#part5 h2 {
    font-size: 2.5vw;
}
